@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/public/font/PretendardVariable.woff2") format("woff2");
}

@font-face {
  font-family: "DoHyeon";
  src: url("/public/font/DoHyeonRegular.ttf") format("ttf");
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button,
input {
  outline: none;
  border: none;
}
